@{
    ViewData["Title"] = "Información Escuela";
}

<div>
    <h1>@ViewData["Title"]</h1>
    <div>
        <p>Escuela:</p>
        <p>Nombre:</p>
        <p><strong>Año fundación:</strong></p>
    </div>
</div>
