@model Escuela;

@{
    ViewData["Title"] = "Información Escuela";
}

<div>
    <h1>@ViewData["Title"]</h1>
    <div>
        <p>Escuela: @ViewData["Title"]</p>
        <p>Nombre: @Model.NombreEscuela</p>
        <p><strong>Año fundación: @Model.AñoGraduacion</strong></p>
    </div>
</div>
