@model List<Asignatura>;

@{
    ViewData["Title"] = "Información Asignatura";
}

<div>
    <h1>@ViewData["Title"]</h1>
    <hr>
@foreach (var objEscuela in Model)
{
   <div>
        <strong>Vista parcial</strong>
        <partial name="_ObjetoEscuelaSimple" model="objEscuela" /> 
    </div> 
}
    
</div>
